.movie {
  display: inline;
}

#pagination p,button {
  display: inline;
}

#pagination .btn i {pointer-events: none; transition: color .3s ease-out;}
#pagination .btn:hover i {
  color: #03a9f4;
}

/* #search {
  padding: 0 0 0 4em;
} */


#search-input {
  padding: 0.5945em 0.68em;
  width: 100%;
  border-radius: 2px;
}



#search-button-container {
  margin: 0;
  padding: 0;
}

#search-button {
  height: 100%;
  width: 100%;
  padding: .2385em 1em ;
  margin-top: -.2em;
}

@media only screen and (min-width: 601px) {
#search-button {
  margin-top: -.75em;
}
}
@media only screen and (min-width: 993px) {
#search-button {
  padding: .4em 1em ;
  margin-top: -.55em;
}
}
@media only screen and (min-width: 1200px) {
#search-button {
  padding: .42em 1em ;
  margin-top: -.5em;
}
}

#search-button i {
  padding: 0;
  margin: 0;
}

#genre-select {
  padding: .5em 0;
  margin: 0;
}
#search-div {
  padding: .55em 0;
  margin: 0;
}

.movie {
  overflow: hidden;
}

#movie-container {
  margin-top: 1.5em;
}

.movie img {
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  transition: transform 275ms ease-out;
}

.movie img:hover {
  transform: scale(1.059);
}
