html {
  scroll-behavior: smooth;
}

body {
  /* background: #1c2429; */
  background: #000000;
  position: relative;
}

#pagination button {
   background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}
.grey-text {
  color: #424242;
}
.white-text {
  color: white;
}

.disabled {
  pointer-events: none;
}


.App {
  padding: 0 0 2em 0;
  margin: 0;
  background: #000000;
}



.title-bar {
  top: 0;
  padding: .6em 1em;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: top 0.4s;
  background: #212121;
}

.title-bar-show {
  top: 0;
  
}
.title-bar-hide {
  top: -52px;
}

.title-bar button:focus{
  outline: 0;
}

.no-js .top-bar {
  display: none;
}



.top-bar {
  padding: .6em 1em;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: top 0.4s;
  background: #212121;
  top: 0;
  /* background: #005786;  interesting*/
}

.top-bar-show {
  top: 0;
}
.top-bar-hide {
  top: -52px;
}
.top-bar-mobile-show {
  top: 3.1em;
}
.top-bar-mobile-hide {
  top: -125px;
}



#logo {
  color: white;
  font-size: 19pt;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.74);
   /* margin: .25em auto;
  display: block;
  text-align: center; */
} 



.button {
  background:#2978ff00;
  margin: 0;
}

.top-bar #search-container {
  width: 100%;
}
.top-bar #search-input {
  margin: 0;
  max-width: 90%;
  min-width: 50%;
  background: #424242;
  border: none;
  height: 42.96px;
}

.top-bar #search-input,#search-button {
  display: inline;
}
#search-button i {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.top-bar #search-button {
  vertical-align: top;
  height: 0.85em 1em;
  background: #1565c0;
  border: none;
  color: #FFF;
  width: 10%;
  max-width: 20%;
  padding: 0.85em 0;
}
#search-container li {
  width: 100%
}
 

.top-bar #genre-container {
  display: block;
  margin: 0 auto;
}


.top-bar #genre-container li {
  margin: 0;
  width: 100%;
  font-family: Arial;
}
#genre-container select {
  background: #424242;
  border: none;
  color: #fff;
  height: 42.96px;
}

.top-bar #install {
   background: #1565c0;
  border: none;
  color: #FFF;
 margin: 0;
 width: 100%;
  /* padding: 1em 3em; */
}

.top-bar #color-mode {
  color: #FFF;
  font-size: 25pt;
  display: block; 
  /* margin: 0 0 0 15%; */

}

.top-bar input {
  margin: 0;
}
.top-bar ul {
  background: #424242;
}


#carousel-container {
  padding: 0;
  margin: 0;
}
.orbit {
 margin: 5em 0 0 0;
}





#pagination {
  margin-top: .5em;
  color: white;
}
#pagination p,button {
  display: inline;
  margin: 0 .8em;
}
#pagination p {
  display: inline;
  font-size: 27pt;
}

#pagination a {
  color: white;
}

#pagination i {
  display: inline;
  font-size: 20pt;
  pointer-events: none;
  transition: color .3s ease-out;
}

#pagination .btn:hover i {
  color: #03a9f4;
}



#genre-select {
  padding: .5em 0;
  margin: 0;

}
#search-div {
  padding: .55em 0;
  margin: 0;
}

.movie {
  overflow: hidden;
  margin-bottom: .25em;
}

#movie-container {
  margin-top: 4.5em;
}

.movie img {
  border-radius: 3px;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  transition: transform .5s ease-out;
}

.movie img:hover {
  transform: scale(1.059);
}

/* === footer === */
footer {
  background: #424242;
  color: rgb(206, 206, 206);
  height: 52px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}


/* Medium and down */
@media screen and (max-width: 39.9375em) {
  #mobile-menu .cell {
    margin-bottom: .5em;
  }
  .top-bar #search-button {
  vertical-align: top;
  /* padding: .63em 1.25em; */
  /* max-width: 100%; */
  }
  .top-bar {
    top: 3.1em;
  }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;    
  }

  .top-bar #search-input {
    max-width: 75%;
    min-width: 50%;
  }
  .top-bar #search-button {
    width: 15%;
    max-width: 15%;
  }
}
/* Large and up */
@media screen and (min-width: 64em) {
 .top-bar {
    top: 0;
  }
   .top-bar #search-input {
    max-width: 82%;
    min-width: 50%;
  }
  .top-bar #search-button {
    width: 15%;
    max-width: 10%;
  }
}







